@import "lib/variables.lessimport";

body, html {
  height: 100%;
}

body {
  font-family: @font-family-base;
}

#top-pane {
  background-color: #00688B;
}

#main-pane, .x-padded, .editor {
  width:100%;
  height:100%;
}

h1, h2, h3, h4, h5, h6, .h {
  text-transform: uppercase;
  font-weight: lighter;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-bottom: 30px;
}

.editor {
  position:relative;
}

.text-input, .text-output {
  padding:20px;
  position:absolute;
  width: 100%;
  height: 100%;
  font-size: 40px;
}

.text-input {
  background-color: white;
}

.wikipedia-image {
  max-width: 150px;
  max-height: 200px;
  float:left;
  margin:5px;
}

.text-output {
  pointer-events:none;
}

.popup {
  position:absolute;
  width: 300px;
  height: 400px;
}

.popup-body {
  width:300px;
  height:380px;
  background-color: white;
  border-radius: 4px;
  background-image: -o-linear-gradient(-89deg, #ffffff 0%, #e4e4e4 100%);
  background-image: -moz-linear-gradient(-89deg, #ffffff 0%, #e4e4e4 100%);
  background-image: -ms-linear-gradient(-89deg, #ffffff 0%, #e4e4e4 100%);
  background-image: linear-gradient(-179deg, #ffffff 0%, #e4e4e4 100%);
  border: 2px solid #979797;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.50);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.50);
}

.popup-content {
  padding:5px;
}

.popup-triangle {
  width: 0;
  height: 0;
  margin-left:10px;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #979797 transparent;
}

a {
  text-decoration: none;
}

.invisible {
  display:none;
}

.lighter {
  font-size: 14px;
  font-weight: lighter;
}

.popup-header {
  font-family: .LucidaGrandeUI;
  font-size: 20px;
  color: #252525;
  line-height: 12px;
  padding:8px;
}

.popup-border-bottom {
  border-bottom: 2px solid #979797;
}
/* SYNONYMS: */

.title {
  text-transform: none;
  font-size: 1.7em;
  font-weight: lighter;
  line-height: 1.4em;
  strong {
    font-weight: normal;
  }
}

.spaced {
  margin-bottom: 60px;
}
.spaced-sm {
  .spaced;
  margin-bottom: 30px;
}

div.brand {
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.2em;
  position: relative;
  font-size: 30px;
  margin: 2px 10px;
  padding: 10px;
  > a {
    color:white;
  }
}

.greyer {
  color:#8FD8D8;
}

.icon-lg {
  font-size: 60px;
}
.spinner-full {
  .icon-lg;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}

.large-list {
  font-size: 23px;
  font-weight: lighter;
  li {
    padding: 5px 0;
    line-height: 2em;
  }
}

.badge {
  background-color: rgba(153, 153, 153, 0.27);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
